@using TemplateProjectOne.Application.Services.Common.GetCategory
@model List<GetCategoryDto>
@{
    Layout = null;
}
<form asp-action="Index" asp-controller="Product" method="get">
    <div class="header-search-wrapper search-wrapper-wide">
        <label for="q" class="sr-only">جستجو</label>
        <input type="search" class="form-control" name="SearchKey" id="q"
               placeholder="جستجو کنید ..." required>
        <button class="btn btn-primary" type="submit"><i class="icon-search"></i></button>
         <div class="search-filter">
            <div class="form-ui">
                <div class="custom-select-ui">
                    <select class="right"  name="CatId" asp-items="@(new SelectList(Model,"CatId","CategoryName"))">
                       <option>دسته بندی ها</option>
                    </select>
                </div>
            </div>
        </div>
    </div><!-- End .header-search-wrapper -->
</form>
